
<%= params.inspect %></br>

<br>
<div class="row">

  <div class="col s3">
      <b>Left sidebar</b><!-- Grey navigation panel -->
  </div>
  <div class="col s9">
    <h1><%= @recipe.name %></h1>

   <p><%= @recipe.manual %></p>
  </div>

</div>
