<h1>Home#index</h1>
<% @recipes.each do |recipe| %>
<div class="floating-box">
<%=link_to recipe.name, recipe_path(recipe.id)%>
<img src="<%=recipe.image_url%>" width="200" height="100">
<% end %>
</div>
