<h1>Categories List</h1>
<% @categories.each do |category| %>

<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
         <%= image_tag "meat.jpg" %>
        <span class="card-title"><%= link_to category.title, category_path(category) %></span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
    <%= link_to category.title, category_path(category) %>
      </div>
    </div>
  </div>
</div>




<% end %>
